/d2l-zh/pytorch/MLP_energy_ownDataV2_result_2024/epoch_45_model
/d2l-zh/pytorch/MLP_energy_ownDataV2_result_2024/
/d2l-zh/pytorch/2024_lossList_MLP_model.csv
/d2l-zh/pytorch/episode_2_MLP_model.xlsx
*.xlsx
/d2l-zh/pytorch/MLP_energy_ownDataV2_result/
*.csv
